main {
  padding-top: 4.5rem;
}

input {
  outline: 0;
}
.bordered-input {
  border: none;
}
.bordered-input:hover,
.bordered-input:focus {
  border: 1px solid whitesmoke;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.bg-black {
  background-color: black;
}

.side-links a {
  width: fit-content;
}

.side-links .link-pointer {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
  transform: scale(0.5);
  transition: transform 400ms;
}

.side-links .active .link-pointer,
.side-links a:hover .link-pointer {
  background-color: blue;
  transform: scale(1);
}

.side-links .link-text {
  color: gray;
}

.side-links .active .link-text,
.side-links a:hover .link-text {
  color: black;
}

.image img {
  width: 150px;
  height: 150px;
}

.fit-content {
  width: fit-content;
}

/* 
.side-links {
  height: calc(100vh - 56px - 48px);
} */
